*{
   box-sizing: border-box;
    margin: 0;
    padding: 0;
     font-family: "Roboto", sans-serif;
}


#section-1{
  height: auto;
}
.logo{
    margin-top: 12px;
}
header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 40px;
}
header div{
    color: white;
    margin-bottom:-5px;
}
ul{
    list-style: none;
    display: flex;
    gap: 45px;
}
ul li, a{
    text-decoration: none;
    color: gainsboro;
    padding:10px ;
}
 a:hover{
    background-color: rgb(28, 199, 28);
}

/*STYLING THE SECOND SECTION*/

#section-2{
    padding-top: 29px;
    padding-left: 70px;
    padding-right: 40px;
    height: 200vh;
}

.hero{
    background-color: none;
    display: grid;
    grid-template-columns:1fr 1fr ;
    gap: 30px;
}
.H-1{
    padding-top: 89px;
    padding-left: 45px;
    width: 780px;
    height: 500px;
    border: none;
    color: white;
    background-image: url(download\ \(1\).jfif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.H-1 div{
    border: none;
    width: auto;
    height: auto;
}
.H-1 button{
    background-color: white;
    color: green;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    margin-top: 20px;
    width: 139px;
    border: none;
}
.p-1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.p-2{
    font-size: 25px;
    margin-bottom: 10px;
}
.H-2{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.H-2 div{
    width: 450px;
    height: 240px;
    border-radius: 10px;
}
.h-1{
    background-image: url(download.jfif);
    background-size: cover ;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-left: 20px;
    border: 1px solid;
}
.h-1 a{
    color: rgb(89, 216, 89);
    
}
.h-1 a:hover{
    color: greenyellow;
    background-color: transparent;
}
.h-2{
    background-image: url(grass\ wallpaper.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 60px;
    text-align: center;
}
.h-2 a:hover{
    color: greenyellow;
    background-color: transparent;
}
.h-2 a{
    color: rgb(200, 205, 200);
}
.l-card{
    margin-top: 20px;
    background-color: rgb(241, 241, 241);
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px ;
    width: 1250px;
    height: 100px;
    display: flex;
    gap: 30px;
}
.ll-card p{
    float: right;
}