*{
   box-sizing: border-box;
    margin: 0;
    padding: 0;
     font-family: "Roboto", sans-serif;
}
.TOP a{
    margin-top: 10px;
    color: rgb(187, 187, 187);
}
#section-1{
  height: auto;
}
.herp-d{
    display: flex;
    justify-content:space-between;
    padding-left:45px;
    padding-right: 30px;

}
.top-form input{
    padding: 9px;
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px ;
    width: 250px;
}
.top-header i{
    color: black;
    font-size: 26px;
}

.top-header .i{
    margin-top: 10px;
}
.top-header span{
    font-size: 24px;
    border-right: 2px solid black;
}
.top-form button{
    background-color: rgb(24, 175, 24);
    padding: 10px;
    margin-left: -6px;
}
.logo{
    margin-top: 12px;
    margin-left: 49px;
}
.top-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 90px;
}
header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}
header div, i{
    margin-top: 4px;
    color: white;
}
ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
ul li, a{
    text-decoration: none;
    color: white;
    padding:10px ;
}
li{
    color: white;
}
 a:hover{
    background-color: rgb(28, 199, 28);
}

/*===========STYLING THE SECOND SECTION==============*/

#section-2{
    padding-top: 29px;
    padding-left: 45px;
    padding-right: 30px;
    height: 100vh;
}

.hero{
    background-color: none;
    display: grid;
    grid-template-columns:1fr 1fr ;
    gap: 30px;
}
.H-1{
    padding-top: 89px;
    padding-left: 45px;
    width: 799px;
    height: 500px;
    border: none;
    color: white;
    background-image: url(picture/download\ \(1\).jfif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.H-1 div{
    border: none;
    width: auto;
    height: auto;
}
.H-1 button{
    background-color: white;
    color: green;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    margin-top: 20px;
    width: 139px;
    border: none;
}
.p-1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.p-2{
    font-size: 25px;
    margin-bottom: 10px;
}
.p-2 span{
    background-color: orange;
    padding: 6px;
    border-radius:5px;
}
.H-2{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.H-2 div{
    width: 450px;
    height: 240px;
    border-radius: 10px;
}
.h-1{
    background-image: url(picture/download.jfif);
    background-size: cover ;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-left: 20px;
    border: 1px solid;
}
.h-1 a{
    color: rgb(89, 216, 89);
}
.h-1 .b-1{
     font-weight: bold;
     font-size: 2rem;
     margin-top: 10px;
}
.h-1 .b-2{
    margin-bottom: 10px;
    margin-top: 10px;
}
.h-2 .font-ize{
    font-size: small;
}
.h-2 .font-siz{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
}
.h-1 a:hover{
    color: greenyellow;
    background-color: transparent;
}
.h-2{
    background-image: url( picture/grass\ wallpaper.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 60px;
    text-align: center;
}
.h-2 a:hover{
    color: greenyellow;
    background-color: transparent;
}
.h-2 a{
    color: rgb(200, 205, 200);
}
.l-card{
    margin-top: 20px;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(202, 201, 201);
    width: 1290px;
    height: 100px;
    display: flex;
    gap: 37px;
    padding-left:30px;
    padding-right: 30px;
    padding-top: 18px;
}
.ll-card p{
    float: right;
    color: black;
    margin-left:10px ;
    margin-right: 7px;
}
 .ll-card .sp-1{
    font-weight: bold;
    font-size: larger;
 }
 .ll-card .sp-2{
    color: gainsboro;
    font-size: medium;
 }
.ll-card i{
    margin-top: 9px;
    font-size: 35px;
    color: green;
}
/*STYLING THE THIRD SECTION*/
#section-3{
    padding-left:45px ;
    padding-right: 30px;
    padding-top: 30px;
    height: 95vh;
    border-bottom: none;
}
.title{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.title h1{
    font-size: 2rem;
    font-weight: 700;
}
.title a{
    margin-right: 10px;
    color:green;
}
.Products{
    margin-top: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border: none;
    background-color: white;
    width: 1290px;
}
.P{
    border: 2px solid gainsboro;
    width: 200px;
    height: 230px;
    border-radius: 9px;

}
.P:hover{
      border:2px solid green;
      box-shadow: 0px 0px 12px green;
}
.P img{
    width: 100%;
    border-bottom:none;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.P p{
    margin-top: 10px;
    text-align: center;
} 
/*STYLING THE FOURTH SECTION*/
#section-4{
    padding-left: 45px;
    padding-right: 30px;
    height: 190vh;
}
.PS{
    background-color:rgb(216, 233, 238);
    border: none;
    height: 600px;
    margin-top: 30px;
    display: grid;
    gap: none;
    width: 1299px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.PSS{
    width: 260px;
    height: 300px;
    border: 1px solid gainsboro;
    background-color: white;
}
.PSS img{
    height:220px ;
    width: 100%;
    object-fit: cover;
} 
.PSS:hover{
    box-shadow: 5px 5px 15px green;
}
.PSS  .button,button{
    margin-top: -220px;
    z-index: 1px;
    background-color:rgb(255, 25, 0);
    color: white;
    padding: 6px;
    border-radius: 5px;
    border: none;
    margin-left:x;
}
.PSS-TEXT{
    margin-top: 190px;
    padding-left: 10px ;
    padding-right: 10px;
    color: gainsboro;
    background-color:white;
}
.PSS-TEXT .pn{
    color: black;
    margin-bottom:1px ;
    font-size: small;
}
.PSS-TEXT .pp{
    margin-top: 10px;
}
.PSS-TEXT  i{
    padding: 5px;
    float: right;
    font-size: 20px;
    margin-top: -29px;
    color: black;
}
.PSS-TEX i{
    background-color:gainsboro;  
    border: 1px solid black;
    padding: 5px;
    width: 25px ;
    height: 25px;
    border-radius: 50%;
    float: right;
    font-size: 20px;
    margin-top: -29px;
    color: gainsboro;
    margin-left: 10px;
}
.PSS-TEX{
    margin-top:  10px;
    padding-left: 10px ;
    padding-right: 10px;
    color: black;
    background-color:white;
}
.PSS-TEX .pn{
    color: black;
    margin-bottom:1px ;
    font-size: small;
}
.PSS-TEX .pp{
    margin-top: 10px;
}
.l-cardd{
    margin-top: 50px;
    width: 1295px;
    background-color:white;
    height: 500px;
    display: flex;
    gap: 30px;
}
.ll-cardd-1{
    background-color: aliceblue;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-image: url(picture/blue.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 30px;
}
.bl{
    padding: 12px;
    margin-top: 30px;
    border-radius: 20px;
    width: 180px;
    color: green;
    text-align: center;
    border: none;
    background-color: white;
}
.bl:hover{
    cursor: pointer;
    background-color: rgb(212, 222, 232);
}
.ll-cardd-2{
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-image: url(picture/beaf.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    text-align: center;
}
.ll-cardd-3{
    background-color: aliceblue;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-image: url(picture/yellow.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 30px;
}
.pp-1{
    color: white;
}
.pp-2{
    color: white;
    font-size: 40px;
    font-weight:590 ;
}
.pp-33{
    color: white;
    margin-top: 20px;
}
.pp-33 span{
    color:orange ;
}
.pp-3 span{
    padding: 6px;
    border-radius: 5px;
    margin-left: 10px;
    color: yellow;
    background-color: black;
    margin-top: 10px;
}
.pp-3{
    margin-top: 10px;
}
/*============styling the fifth section=============*/

#section-5{
    height: 160vh;
    padding-top:10px;
    padding-left: 45px;
    padding-right: 35px;
    padding-top: 45px;
    background-color: aliceblue;
}

#container{
    border: 1px solid  gainsboro;
    height: 600px;
    display: flex;
    width: 1300px;
}

.container-1{
    border: 2px solid gainsboro;
    width: 520px;
    height: 600px;
}
.container-1 img{
    width:100%;
    height: 450px;
    object-fit: cover;
}
.buton{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color:white;
    width: 100%;
    height: 320px;
    display: table;
    clear: both;
}
.buton strike{
    color: gainsboro;
}
.buton i{
    color: black;
    font-size: 24px;
}
.buton button{
    height: 29px;
    background-color: green;
    width: 290px;
    border-radius: 10px;
    
}

#container-1{
    border: 2px solid gainsboro;
    margin-top:30px;
    width: 1303px;
    height: 900px;
}
.container-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    height: 600px;
}

.container-3{
    border: 1px solid gainsboro;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}
/*================styling the sixth section===========*/

#section-6{
    height: 200vh;
    padding-left: 45px;
    padding-right: 30px;
}

.OFF{
    margin-top: 90px;
    background-image:url(picture/black\ \(2\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 1300px;
    border-radius: 10px;
}
.OFF div{
    border: 2px solid white;
    color: white;
    background-color: aqua;
    width: 365px;
    float: right;
    margin-top: 45px;
    margin-right: 30px;
}
.OFF button{
  width: 240px;
  height: 29px;
  border-radius: 15px;
  background-color: green;
  color: white;
  margin-top: 15px;
}
.OFF  div .s-1{
   font-size: small;
   margin-bottom: 15px;
}
.s-2{
   font-size: 2rem;
   margin-bottom: 15px;
}